#**STRING OPERATIONS / ASSIGNMENT-1**

**capitalize():**

The capitalize() method returns a string where the first character is upper case, and the rest is lower case.

In [ ]:
# Define a variable 'course' and assign it the value "text based analysis"
course = "text based analysis"

# Call the 'capitalize()' method on the 'course' string, which capitalizes the first letter of the string
x = course.capitalize()

# Print the capitalized string
print(x)

Text based analysis

**casefold():**

The casefold() method returns a string where all the characters are lower case, This method is similar to the lower() method, but the casefold() will convert more characters into lower case

In [ ]:
# Define a variable 'course' and assign it the value "Text Based Analysis"
course = "Text Based Analysis"

# Call the 'casefold()' method on the 'course' string, which converts all characters in the string to lowercase
x = course.casefold()

# Print the lowercase version of the string
print(x)

text based analysis

**find():**

The find() method finds the first occurrence of the specified value.
The find() method returns -1 if the value is not found.

In [ ]:
# Define a variable 'course' and assign it the value "Text Based Analysis"
course = "Text Based Analysis"

# Call the 'find()' method on the 'course' string, which searches for the specified substring ("Analysis") within the string
# It returns the lowest index in the string where the substring is found, or -1 if the substring is not found
x = course.find("Analysis")

# Print the index where the substring "Analysis" starts within the string
print(x)

11

**format():**

The format() method formats the specified value(s) and insert them inside the string's placeholder.

In [ ]:
# Define a variable 'course' and assign it the value "the class is {clas:}"
course = "the class is {clas:}"

# Use the 'format()' method on the 'course' string to replace the placeholder '{clas:}' with the provided value
formatted_course = course.format(clas="text based analysis")

# Print the formatted string
print(formatted_course)

the class is  text based analysis

**isdecimal()**

The isdecimal() method returns True if all the characters are decimals (0-9).

In [1]:
# Define a variable 'num' and assign it the value "1234"
num = "1234"

# Call the 'isdecimal()' method on the 'num' string, which checks if all characters in the string are decimal digits (0-9)
x = num.isdecimal()

# Print the result, which indicates whether all characters in the string are decimal digits
print(x)

True

**join()**

The join() method takes all items in an iterable and joins them into one string.

In [3]:
# Define a tuple 'names' containing three strings: "laxmi", "kanth", "reddy"
names = ("laxmi", "kanth", "reddy")

# Use the 'join()' method to concatenate all elements of the 'names' tuple into a single string
# The "#" character is used as a separator between the elements
x = "#".join(names)

# Print the resulting string
print(x)

laxmi#kanth#reddy

**replace()**

The replace() method replaces a specified phrase with another specified phrase

In [5]:
# Define a string variable 'name' containing the value "laxmi kanth jitta"
name = "laxmi kanth jitta"

# Use the 'replace()' method to replace all occurrences of the substring "jitta" with the substring "reddy"
x = name.replace("jitta", "reddy")

# Print the resulting string after replacement
print(x)

laxmi kanth reddy

**partition()**

The partition() method searches for a specified string, and splits the string into a tuple containing three elements.

In [6]:
# Define a string variable 'name' containing the value "laxmianth reddy jitta"
name = "laxmianth reddy jitta"

# Use the 'partition()' method to partition the string at the first occurrence of the specified separator "jitta"
x = name.partition("jitta")

# Print the resulting tuple
print(x)

('laxmianth reddy ', 'jitta', '')

**swapcase()**

The swapcase() method returns a string where all the upper case letters are lower case and vice versa

In [9]:
# Define a string variable 'name' containing the value "laxmianth reddy jitta"
name = "laxmianth reddy jitta"

# Use the 'partition()' method to partition the string at the first occurrence of the specified separator "jitta"
x = name.partition("jitta")

# Print the resulting tuple
print(x)

lAXMIANTH rEDDY jITTA